ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html{
    background-color:#BFBFBF;
    color:hsl(210, 50%, 20%)
}

span.head{
    font-family:Copperplate;
}

span.body{
    font-family:Constantia;
}

